[Desktop Entry]
Version=1.0
Type=Application
Name=MoBa-Tester
Exec=moba-tester
Comment=Testprogramm
Icon=moba-tester
Terminal=0
Categories=System-manager
Encoding=UTF-8

