[Desktop Entry]
Version=1.0
Type=Application
Name=MoBa-Tester
Exec=/usr/local/bin/moba-tester
Comment=Testprogramm
Icon=moba-tester
Terminal=false
Categories=System
StartupWMClass=org.moba.tester

